<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head></head>
  <meta charset="UTF-8">
  <title>HackRF UI - Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HackRF UI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/files">Files</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <div class="card">
    <div class="card-header">General</div>
    <div class="card-body">
  <form id="general" autocomplete="off" novalidate aria-label="General Settings">
        <div class="mb-3">
          <label for="hackrfRxSN" class="form-label">HackRF RX Serial Number</label>
          <select class="form-select" id="hackrfRxSN" required aria-required="true">
            <option selected disabled>Select one</option>
          </select>
          <div id="hackrfRxSNHelp" class="form-text">The HackRF's S/N to receive on.</div>
        </div>
        <div class="mb-3">
          <label for="hackrfTxSN" class="form-label">HackRF TX Serial Number</label>
          <select class="form-select" id="hackrfTxSN" required aria-required="true">
            <option selected disabled>Select one</option>
          </select>
          <div id="hackrfTxSNHelp" class="form-text">The HackRF's S/N to transmit on.</div>
        </div>
      </form>
      <div id="saveStatus" class="mt-6 text-center text-sm h-5"></div>
    </div>
  </div>

</body>
